{% extends "layout.html" %}



{% block content %}

<form method="post">

<div class="input-group mb-3">
  <input type="text" class="form-control" name="search_area" placeholder="Search Company..." aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
     <button type="submit" class="btn btn-primary btn-sm">Search</button>
  </div>
</div>
</form>





















    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.company }}</a>
              <small class="text-muted position-relative start-100"> {{ post.date_posted }}</small>


            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.description }}</p>
              <div class="media-body">
                  <small class="text-muted mr-2" >Deadline: </small>
                  <small class="text-danger ml-auto" >{{ post.deadline }}</small>
              </div>

              <div class="media-body">
              <form action="/{{ key }}" name="keywords" method="post">
                        {% for key in post["keywords"] %}
                            {% if key == filter_keyword %}
                                <a href="/{{key}}" class="badge badge-danger">{{ key }}</a>
                            {% else %}
                                <a href="/{{key}}" class="badge badge-primary">{{ key }}</a>
                            {% endif %}

                        {% endfor %}
              </form>
              </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}